<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MainEndpoint">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://svc.cirrusenv.ru/IMSLIS/ImsLisService.svc"
          binding="wsHttpBinding" bindingConfiguration="MainEndpoint"
          contract="ServiceReference1.IPersonManagerSyncPortType" name="MainEndpoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAjVHClVvat6haSjUHpxRr6DE/Yt0gAAAAAQAAAAcCAAAwggIDMIIBcKADAgECAhDfeVmMxGBxjEap1KA1w10qMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJY2lycnVzc3ZjMB4XDTE0MTAwOTIwMDAwMFoXDTE4MTIyMTIwMDAwMFowFDESMBAGA1UEAxMJY2lycnVzc3ZjMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCiaTYDi8j63d+LRapiJOC0DMrXzHpD0TVNKuFirFqCrscemVVMyU9TvjzlkZBi8MquyauH+kT+aXr4+eUkeAgDq/B032mtnIwwZHflTxIoga0qt5k5vlNF62KWQEooYieGoqnUoRG6T95qhzF/NHzgqsiziPbNnYRFGhd3vXM4lQIDAQABo14wXDATBgNVHSUEDDAKBggrBgEFBQcDATBFBgNVHQEEPjA8gBCJ9VKugJxfYoom7i7ySuzxoRYwFDESMBAGA1UEAxMJY2lycnVzc3ZjghDfeVmMxGBxjEap1KA1w10qMAkGBSsOAwIdBQADgYEAlHlM2n2nOw5W69To6naX2bYZpxQoWzQ35JF/IYiDisWPPlTvPdZ1X6na44tyghSloBVUht0WXQtDQ/CjcSa1ksjP2pjU549/wSbWv0TTynXInM8wrQs1Irk4nqLNVdJgZzt6gfzFJ5R391RmcmGhZCZoXsfbndel8r4xWTAu8Lo=" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>